# Ignore VS Code settings (except specific files)
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore build and cache directories
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/.angular/cache/
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage/
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings/

# Ignore package manager dependencies
frontend/node_modules/

# Ignore log files
frontend/npm-debug.log
frontend/yarn-error.log

# Ignore IDE & Editor-specific files
frontend/.idea/
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/*.sublime-workspace

# Ignore OS-specific files
frontend/.DS_Store
frontend/Thumbs.db
