<div
  class="hero min-h-screen"
  style="background-image: url(https://images.unsplash.com/photo-1585004607620-fb4c44331e73?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="">
      <h1 class="text-5xl font-bold">Experience the Magic of a Riad in Marrakech</h1>
      <p class="py-6">
        Nestled in the heart of Marrakech, a traditional Riad offers a peaceful escape from the bustling Medina.
        With its stunning courtyard, intricate Moroccan architecture, and warm hospitality, a stay in a Riad
        is a journey into the city's rich history and culture. Relax in beautifully decorated rooms, enjoy
        authentic Moroccan cuisine, and soak in the charm of Marrakech from a rooftop terrace.
      </p>
      <button class="btn ">Reserv now</button>
    </div>
  </div>
</div>
