version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: riyadmanager-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: riyadmanager_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - riyadmanager-network

volumes:
  mysql_data:

networks:
  riyadmanager-network:
    driver: bridge
    name: riyadmanager-network